@media only screen and (max-width: 1200px) {
    div.gallery{
        padding: 15px;
    }
}
@media only screen and (max-width: 1100px) {
    .title{
        font-size: 24px;
    }
    .sub-title{
        font-size: 16px;
    }
    div.content__block{
        padding: 30px 15px;
        .content__block__img{
            img{
                width: 400px;
            }
        }
    }
    div.menu__cards{
        margin: 15px 0;
        width: 100%;
        padding: 10px;
        height: 50vh;
        display: flex;
        justify-content: center;
        .menu__card{
            position: relative;
            margin: 10px;
            height: 100%;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            .menu__card__title{
                position: absolute;
                z-index: 11;
                bottom: 15px;
                width: 100%;
                text-align: center;
                h1{
                    font-size: 18px;
                    text-transform: uppercase;
                    color: $white;
                }
            }
        }
    }
}
@media only screen and (max-width: 920px) {
    div.content__block{
        .content__block__img{
            width: 40%;
        }
        .content__block__text{
            width: 60%;
        }
    }
    div.gallery__menu{
        padding: 10px;
        .gallery__menu__content{
            height: 250px;
        }
    }
    .footer{
        .footer__content{
            .footer__menu{
                display: none;
            }
            .footer__logo{
                margin-right: 15px;
            }
        }
    }
}
@media only screen and (max-width: 902px) {
    header.header{
        .header__container{
            .header__content{
                .header__content__top{
                    .header__title{
                        font-size: 64px;
                    }
                    .header__sub-title{
                        margin-top: 30px;
                        font-size: 16px;
                        width: 80%;
                    }
                }
            }
        }
    }
  }
@media only screen and (max-width: 679px) {
    header.header{
        .header__container{
            nav{
                .nav__content{
                    .menu{
                        ul{
                            display: none;
                        }
                    }
                    .menu__burger{
                        display: block;
                    }
                }
            }
            .header__content{
                .header__content__top{
                    .header__title{
                        h1{
                            font-size: 54px;
                        }
                    }
                    .header__sub-title{
                        width: 85%;
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    div.gallery__menu{
        .gallery__menu__content{
            display: block;
            height: 100%;
            .item__long, .item__small{
                width: 95%;
                height: 200px;
            } 
        }
    }
    div.menu__cards{
        margin: 15px 0;
        width: 100%;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu__card{
            position: relative;
            margin: 10px;
            height: 200px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            .menu__card__title{
                position: absolute;
                z-index: 11;
                bottom: 15px;
                width: 100%;
                text-align: center;
                h1{
                    font-size: 18px;
                    text-transform: uppercase;
                    color: $white;
                }
            }
        }
    }
    div.content__block{
        display: block;
        .content__block__text{
            width: 100%;
        }
        .content__block__img{
            padding-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    div.gallery{
        padding: 10px;
        .gallery__content_one{
            display: block;
            height: 100%;
            .gallery_content__big{
                margin-top: 15px;
                height: 300px;
            }
            .gallery_content__long{
                margin-top: 15px;
                height: 200px;
            }
            .gallery_content__small1{
                margin-top: 15px;
                height: 300px;
            }
            .gallery_content__small2{
                margin-top: 15px;
                height: 300px;
            }
        }
        .gallery__content_two{
            display: block;
            height: 100%;
            .gallery_content__big{
                margin-top: 15px;
                height: 300px;
            }
            .gallery_content__long{
                margin-top: 15px;
                height: 200px;
            }
            .gallery_content__small1{
                margin-top: 15px;
                height: 300px;
            }
            .gallery_content__small2{
                margin-top: 15px;
                height: 300px;
            }
        }
    }
}
@media only screen and (max-width: 527px) {
    div.content__block{
        .content__block__img{
            padding-top: 30px;
            width: 100%;
            display: block;
        }
    }
    footer.footer{
        padding: 15px 0;
        .footer__content{
            .footer__logo{
                img{
                    width: 90px;
                }
            }
            .footer__contact{
                .footer__contact__title{
                    h1{
                        font-size: 18px;
                    }
                }
                .footer__contact__content{
                    display: flex;
                    margin-top: 15px;
                    .content__title{
                        width: 50%;
                        text-transform: uppercase;
                        font-size: 14px; 
                    }
                    .content__sub-title{
                        width: 70%;
                        color: $grey;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .footer__bottom{
        font-size: 14px;
    }
  }
  @media only screen and (max-width: 496px) {
    header.header{
        .header__container{
            .header__content{
                .header__content__top{
                    padding: 0 15px;
                    .header__title{
                        h1{
                            font-size: 44px;
                        }
                    }
                    .header__sub-title{
                        margin-top: 0;
                        p{
                            margin-top: 5px;
                            font-size: 14px;
                        }
                    }
                }
            }
            nav{
                .nav__content{
                    height: 70px;
                    padding: 10px 25px;
                    .logo{
                        img{
                            width: 60px;
                        }
                    }
                    .menu{
                        .menu__burger{
                            width: 35px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
    div.offers{
        padding: 15px 15px;
        h1.offers__title{
            font-size: 24px;
        }
        .offers__slider{
            .offers__slider__item{
                .offers__slider__box{
                    img{
                        width: 90%;
                    }
                }
            }  
        }
    }
    div.contact{
        .contact__content{
            padding: 15px 10px;
            .contact__title{
                margin-bottom: 0;
                margin-top: 10px;
                font-size: 24px;
            }
            .contact__btn{
                font-size: 14px;
            }
        }

    }
    .title{
        margin-top: 15px;
    }
    div.table{
        padding: 30px 10px;
        table{
            thead{
                tr{
                    td{
                        font-size: 16px;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    div.content__block{
        .footer__contact{
            max-width: none;
            width: 100%;
        }
    }
}