@font-face{
    font-family: "Helvetica Regular";
    src: url("../fonts/Helvetica/Helvetica.woff2") format("woff2");
}
@font-face{
    font-family: "Helvetica Bold";
    src: url("../fonts/Helvetica/Helvetica-Bold.woff2") format("woff2");
}