body{
    font-family: "Helvetica Regular";
    background-color: $black;
    color: $white;
}
.header{
    position: relative;
    width: 100%;
    height: 90vh;
    .header__bg{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .header__container{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 15;
        nav{
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 90px;
            .nav__content{
                padding: 0 30px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 90px;
                border-bottom: 1px solid $white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    img{
                        width: 80px;
                    }
                }
                .menu{
                    ul{
                        display: flex;
                        align-items: center;
                        list-style: none;
                        .menu__item{
                            margin-left: 30px;
                            .menu__item__link{
                                padding: 3px 0;
                                color: $white;
                                text-decoration: none;
                                transition: 0.2s;
                                &:hover{
                                    border-bottom: 2px solid $white;
                                }
                            }
                        }
                    }
                    &__burger{
                        width: 50px;
                        height: 30px;
                        background-image: url(../images/menu_open.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        display: none;
                        cursor: pointer;
                    }
                    &__burger.active{
                        background-image: url(../images/menu_close.svg);
                    }
                }
            }
            .social{
                display: none;
            }
        }
        nav.active{
            height: 100%;
            background-color: $black;
            z-index: 100;
            .nav__content{
                .menu{
                    ul{
                        position: absolute;
                        top: 140px;
                        left: 12%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .menu__item{
                            margin: 15px 0;
                            .menu__item__link{
                                font-size: 36px;
                            }
                        }
                    }
                }
            }
            .social.active{
                display: block;
                position: absolute;
                bottom: 90px;
                left: 14%;
                ul{
                    .social__item{
                        font-size: 24px;
                    }
                }
            }
        }
        .header__content{
            padding-top: 150px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .header__content__top{
                width: 100%;
                .header__title{
                    width: 100%;
                    h1{
                        font-size: 96px;
                        letter-spacing: 0.12em;
                        font-weight: 500;
                        text-transform: uppercase;   
                    }
                }
                .header__sub-title{
                    width: 60%;
                    margin: auto;
                    text-align: center;
                    p{
                        font-size: 18px;
                        margin-top: 15px;
                        color: $grey;
                    }
                }
            }
            .header__content__bottom{
                position: absolute;
                padding: 30px;
                bottom: 0;
                width: 100%;
                .header__btn{
                    padding: 10px 30px;
                    color: $white;
                    border: 1px solid $white;
                    &:hover{
                        background-color: $white;
                        color: $black;
                    }
                }
                .options{
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;
                    .language{
                        button{
                            background-color: $black;
                            border: none;
                        }
                        .dropdown-menu{
                            background-color: $black;
                            a{
                                color: $white;
                                &:hover{
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.social{
    ul{
        display: flex;
        list-style: none;
        .social__item{
            margin-left: 30px;
            a{
                text-transform: uppercase;
                color: $white;
                text-decoration: none;
                &:hover{
                    border-bottom: 2px solid $white;
                }
            }
        }
    }
}

.language{
    .dropdown{
        button{
            font-size: 24px;
        }
    }
}
.social{
    .social__item{
        font-size: 22px;
    }
}
.header.header__home{
    height: 100vh;
}