@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'adaptive';
@import 'animation';

.header{
    position: relative;
    width: 100%;
    height: 90vh;
    .header__bg{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: header_bg;
        animation-duration: 1s;
    }
    .header__container{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 15;
        nav{
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            width: 100%;
            height: 90px;
            .nav__content{
                padding: 0 30px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 90px;
                border-bottom: 1px solid $white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    img{
                        width: 80px;
                    }
                }
                .menu{
                    ul{
                        display: flex;
                        align-items: center;
                        list-style: none;
                        .menu__item{
                            margin-left: 30px;
                            .menu__item__link{
                                padding: 3px 0;
                                color: $white;
                                text-decoration: none;
                                transition: 0.2s;
                                &:hover{
                                    border-bottom: 2px solid $white;
                                }
                            }
                        }
                    }
                    &__burger{
                        width: 50px;
                        height: 30px;
                        background-image: url(../images/menu_open.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        display: none;
                        cursor: pointer;
                    }
                    &__burger.active{
                        background-image: url(../images/menu_close.svg);
                    }
                }
            }
            .social{
                display: none;
            }
        }
        nav.active{
            height: 100%;
            background-color: $black;
            z-index: 100;
            .nav__content{
                .menu{
                    ul{
                        position: absolute;
                        padding: 0 0 15px 0;
                        width: 100%;
                        top: 140px;
                        left: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .menu__item{
                            margin: 15px 0;
                            .menu__item__link{
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            .social.active{
                width: 100%;
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 30px;
                ul{
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    .social__item{
                        margin: 15px;
                        font-size: 24px;
                    }
                }
            }
        }
        .header__content{
            padding-top: 150px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .header__content__top{
                width: 100%;
                .header__title{
                    width: 100%;
                    h1{
                        font-size: 72px;
                        letter-spacing: 0.12em;
                        font-weight: 500;
                        text-transform: uppercase;   
                    }
                }
                .header__sub-title{
                    width: 60%;
                    margin: auto;
                    text-align: center;
                    p{
                        font-size: 18px;
                        margin-top: 15px;
                        color: $grey;
                    }
                }
            }
            .header__content__bottom{
                position: absolute;
                padding: 30px;
                bottom: 0;
                width: 100%;
                .header__btn{
                    padding: 10px 30px;
                    color: $white;
                    border: 1px solid $white;
                    &:hover{
                        background-color: $white;
                        color: $black;
                    }
                }
                .options{
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .language{
                        button{
                            background-color: $black;
                            border: none;
                            font-size: 24px;
                        }
                        .dropdown-menu{
                            background-color: $black;
                            a{
                                color: $white;
                                &:hover{
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.menu__cards{
    margin: 15px 0;
    width: 100%;
    padding: 15px;
    height: 65vh;
    display: flex;
    justify-content: center;
    .menu__card{
        position: relative;
        margin: 10px;
        height: 100%;
        width: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .menu__card__title{
            position: absolute;
            z-index: 11;
            bottom: 15px;
            width: 100%;
            text-align: center;
            h1{
                font-size: 18px;
                text-transform: uppercase;
                color: $white;
            }
        }
    }
}
.footer{
    width: 100%;
    padding: 30px;
    .footer__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer__logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 120px;
            }
            .social{
                padding-top: 15px;
                ul{
                    padding: 0;
                    li{
                        margin: 10px;
                    }
                }
            }
        }
        .footer__menu{
            padding: 10px;
            text-align: center;
            &__part{
                ul{
                    display: flex;
                    list-style: none;
                    padding: 0;
                    .footer__menu__item{
                        margin: 10px 15px 10px 15px;
                        .footer__menu__link{
                            color: $grey;
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: uppercase;
                            &:hover{
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}
.footer__contact{
    .footer__contact__title{
        h1{
            font-size: 32px;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 15px;
        }
    }
    .footer__contact__content{
        display: flex;
        margin-top: 15px;
        .content__title{
            width: 30%;
            text-transform: uppercase;
            font-size: 16px; 
        }
        .content__sub-title{
            width: 70%;
            color: $grey;
        }
    }
}
.footer__bottom{
    padding: 15px;
    border-top: 1px solid $white;
    text-align: center;
    font-size: 14px;
    color: $grey;
}
.offers{
    width: 100%;
    padding: 30px;
    .offers__title{
        text-align: center;
        font-size: 32px;
        text-transform: uppercase;
    }
    .offers__slider{
        margin-top: 30px;
        .offers__slider__item{
            margin: 15px;
            .offers__slider__box{
                width: 300px;
                img{
                    max-width: 90%;
                    opacity: 0.5;
                    transition: 0.5s;
                }
                &:hover{
                    img{
                        opacity: 1;
                    }
                }
                .box__title{
                    margin-top: 15px;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $white;
                }
                .box__sub-title{
                    margin-bottom: 15px;
                    font-size: 14px;
                    color: $grey;
                }
                .box__btn{
                    text-decoration: none;
                    color: $white;
                    padding: 5px 15px;
                    border: 1px solid $white;
                    transition: 0.2s;
                    &:hover{
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }
        .slick-dots{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            button{
                font-size: 0;
                border: none;
                margin: 5px 15px;
                width: 30px;
                height: 2px;
                background-color: $grey;
            }
        }
        .slick-active button{
            background-color: $white;
            height: 4px;
        }
    }
}
.contact{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    .contact__bg{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-image: url(../images/bg_contact.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: header_bg;
        animation-duration: 1s;
    }
    .contact__content{
        padding-top: 30px;
        position: absolute;
        max-width: 600px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact__title{
            font-size: 32px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 15px;
        }
        .contact__name{
            display: flex;
            input:first-child{
                margin-right: 10px;
            }
            input:last-child{
                margin-left: 10px;
            }
        }
        input{
            margin-top: 30px;
            padding: 5px 15px;
            background: rgba($color: $black, $alpha: 0.5);
            border: 1px solid $white;
            border-radius: 2px;
            width: 100%;
            color: $white;
        }
        .contact__btn{
            margin-top: 30px;
            padding: 5px 0;
            width: 100%;
            background: none;
            border: 1px solid $white;
            color: $white; 
            font-size: 16px;
            text-transform: uppercase;
            transition: 0.2s;
            &:hover{
                background-color: $white;
                color: $black;
            }
        }
    }
}
.content__block{
    padding: 90px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content__block__text{
        width: 60%;
        padding-right:45px;
        h1{
            margin-top: 15px;
        }
    }
    .content__block__img{
        img{
            width: 100%;
        }
    }
    .footer__contact{
        margin-top: 30px;
        max-width: 80%;
    }
    .social{
        padding-top: 15px;
        ul{
            li{
                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }
}
.table{
    padding: 60px 30px 10px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: $white;
    table{
        width: 100%;
        border: 1px solid $white;
        thead{
            tr{
                td{
                    font-size: 20px;
                    font-weight: 800;
                    border-bottom: 1px solid $white;
                }
            }
        }
        tbody{
            tr{
                td{
                    border: none;
                    p{
                        color: $grey;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
.gallery__menu{
    width: 100%;
    padding: 30px;
    .gallery__menu__content{
        margin-top: 30px;
        display: flex;
        width: 100%;
        height: 300px;
        .gallery__menu__item{
            position: relative;
            margin: 15px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            h1{
                z-index: 11;
                text-transform: uppercase;
                font-size: 24px;
                color: $white;
                font-weight: 400;
            }
        }
        .item__long{
            width: 60%;
            height: 100%; 
            margin: 15px;
            
        }
        .item__small{
            width: 40%;
            height: 100%;

        }
    }
}